In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

sns.set_style("darkgrid", {"axes.facecolor": ".7"})

d=pd.read_csv("Mark1ann.csv",encoding="latin1")
len(d)

702

In [8]:
d['month']=d['timestamp'].apply(lambda x :x[0:2])
d

,Unnamed: 0,Unnamed: 0.1,screen_name,username,user_id,tweet_id,tweet_url,timestamp,timestamp_epochs,text,...,video_url,likes,retweets,replies,is_replied,is_reply_to,parent_tweet_id,reply_to_users,classofspeech,month
0,0,0,mmollymoonshine,Moonshine Molly,5.728513e+07,1.157570e+18,/mmollymoonshine/status/1157574190146433025,8/3/2019 8:49,1564822168,We have Iain Stewart and Mark Lancaster here,...,NaN,0,0,0,False,True,1.157050e+18,"[{'screen_name': 'AshleeMorgan66', 'user_id': ...",neither,8/
1,1,1,mmollymoonshine,Moonshine Molly,5.728513e+07,1.157570e+18,/mmollymoonshine/status/1157574190146433025,8/3/2019 8:49,1564822168,We have Iain Stewart and Mark Lancaster here,...,NaN,0,0,0,False,True,1.157050e+18,"[{'screen_name': 'AshleeMorgan66', 'user_id': ...",neither,8/
2,2,2,iainastewart,Iain Stewart,1.002608e+08,1.163450e+18,/iainastewart/status/1163447696700694528,8/19/2019 13:48,1566222521,Over 2 months till the MK Big Chat event!\nMar...,...,NaN,7,6,3,True,False,NaN,[],neither,8/
3,3,3,FTusa284,Francis Tusa,2.754353e+08,1.163430e+18,/FTusa284/status/1163425787229421570,8/19/2019 12:21,1566217297,I was wondering who Mark Lancaster reminded me...,...,NaN,2,0,1,True,False,NaN,[],neither,8/
4,4,4,ric_mk,Ric Brackenbury,3.371353e+08,1.163250e+18,/ric_mk/status/1163250198522617856,8/19/2019 0:43,1566175434,"Hi Nigel,\nI don't think either is listening. ...",...,NaN,0,0,0,False,True,1.163130e+18,"[{'screen_name': 'nschisnall', 'user_id': '539...",neither,8/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697,697,697,DavidLewis1952,David Lewis,1.985974e+08,1.190630e+18,/DavidLewis1952/status/1190625770747650048,11/2/2019 13:44,1572702279,@CharlynnePullen Have you seen Mark Lancaster ...,...,NaN,0,0,0,False,True,1.190610e+18,"[{'screen_name': 'CharlynnePullen', 'user_id':...",neither,11
698,698,698,HungryHatter,Simon,2.294790e+07,1.190630e+18,/HungryHatter/status/1190625235235737601,11/2/2019 13:42,1572702151,Fantastic news! Game on in Milton Keynes North...,...,NaN,4,1,3,True,False,NaN,[],neither,11
699,699,699,DavidLewis1952,David Lewis,1.985974e+08,1.190630e+18,/DavidLewis1952/status/1190625194475438081,11/2/2019 13:42,1572702141,Has Charlynne seen that Mark Lancaster is not ...,...,NaN,0,0,0,False,True,1.190620e+18,"[{'screen_name': 'hfoneill', 'user_id': '89194...",neither,11
700,700,700,AmIRightSir,Mr Memory,3.242493e+09,1.190620e+18,/AmIRightSir/status/1190618874917642240,11/2/2019 13:17,1572700635,Mark Lancaster is the longest continuously-ser...,...,NaN,8,5,1,True,False,NaN,[],neither,11
701,701,701,Craig_Lewis77,Craig Lewis,2.351174e+08,1.190610e+18,/Craig_Lewis77/status/1190612010410618880,11/2/2019 12:49,1572698998,Mark Lancaster standing down as MP for Milton ...,...,NaN,0,1,0,False,False,NaN,[],neither,11

In [9]:
b1z=d.groupby('month',sort=True)['classofspeech'].count()
b1z

month
10    104
11    229
6/     70
7/    142
8/     75
9/     82
Name: classofspeech, dtype: int64

In [10]:
o=d[d['classofspeech']=='offensive_language'].groupby('month',sort=True).count()
o

,Unnamed: 0,Unnamed: 0.1,screen_name,username,user_id,tweet_id,tweet_url,timestamp,timestamp_epochs,text,...,img_urls,video_url,likes,retweets,replies,is_replied,is_reply_to,parent_tweet_id,reply_to_users,classofspeech
month,,,,,,,,,,,,,,,,,,,,,
10,2,2,2,2,2,2,2,2,2,2,...,2,0,2,2,2,2,2,2,2,2
11,3,3,3,3,3,3,3,3,3,3,...,3,0,3,3,3,3,3,1,3,3

In [11]:
len(d[d['classofspeech']=='offensive_language'])

5

In [12]:
sum(o['classofspeech'])

5

In [13]:
pero=[]
for i in o['classofspeech']:
    ans=i*100/sum(o['classofspeech'])
    #print (ans)
    pero.append(ans)
pero

[40.0, 60.0]

In [15]:
x1=['June','July','August','September','October','November']
y1=[0,0,0,0,40,60]